<h1>Our Awesome Drivers!</h1>

<section>
<ul class='driver-view'>
  <li class='columns'>
    <a class='name'>Name</a> <a>Avg Rating</a>
  </li>
  <% @drivers.each do |driver| %>

    <li>
      <img src="http://placecage.com/g/100/100" alt="photo"/>
      <span class='driver-names'>
      <%= link_to driver.name, driver_path(driver[:id]) %>
      </span>
      <span><%= driver.average_rating(driver.id) %> </span>
    </li>
  <% end%>
</ul>
</section>
