/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #f7b6a8;
}
 header {
   background-color: #872219;
   font-weight: bold;
   font-size: 1.2em;
   padding: 3%;
 }

 header ul {
   display: flex;
   justify-content: space-around;
 }

header ul li a:hover {
  color: black;
}

header ul li a {
  color: white;
}

ul {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

li {
  padding: 1em;
}

h1 {
  text-align: center;

}
